body {
    font-family: Arial;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color:rgb(255, 225, 197) ;
}

h1,h2,h3{
    font-family: Tahoma, Verdana, sans-serif;
    text-align: center;
    color: rgb(73, 22, 22);
}

header, footer {
    background-color: rgb(73, 22, 22);
    color: rgb(233, 179, 129);
    text-align: center;
    padding: 15px;
}

nav {
    background-color: rgb(241, 196, 154);
    text-align: center;
    padding: 10px;
}

nav a {
    margin: 10px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
nav a:hover{
    color:rgb(73, 22, 22) ;
}

main {
    flex: 1;
}

section {
    padding: 50px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: rgb(73, 22, 22);
}

th, td {
    padding: 10px;
    text-align: center;
    color: rgb(73, 22, 22);
}
@media (max-width: 600px) {
    nav{
        flex-direction: column;
        align-items: center;
    }
    nav a {
        display: block;
        margin: 10px 0;
    }
}
.container {
    width: 420px;
    margin: 60px auto;
    background-color: rgb(241, 196, 154);
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
input,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}
textarea {
    height: 80px;
    resize: none;
}
button {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background-color: rgb(73, 22, 22);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}
button:hover{
    background-color: white;
}
